
<!-- <nav class="fixed h-screen"> -->
<!--   <div class="relative flex flex-col justify-center items-center bg-black drop-shadow-[0_0px_10px_rgba(0,0,0,.5)] ">   -->
<!--     <i class="fa-solid fa-book"></i> -->
<!--     <a href={`/${currentLang}/`}>Home</a> -->
<!--     <div class="relative mt-auto flex">     -->
<!--       <div class="country-selector cursor-pointer flex p-4 z-10"> -->
<!--         <span class={`fi fi-${flags[currentLang]} rounded-sm`}/> -->
<!--       </div> -->
<!--       <div class="absolute -z-50 flex top-0 right-0 items-center transition-transform"> -->
<!--         {langs.map(lang => { -->
<!--           if (lang in translatedSlugs) {} -->
<!--           else { -->
<!--             console.error(`Falta traduccion de *${lang}* en ${thisPostSlug}`) -->
<!--             return  -->
<!--           } -->
<!--           if (lang == currentLang) return -->
<!--           return ( -->
<!--             <a  -->
<!--               class="flex p-4" -->
<!--               href={`/${lang}/${withBlog}${isBlog ? translatedSlugs[lang] : slug.join("/")}`}> -->
<!--               <span class={`fi fi-${flags[lang]} rounded-sm`}/> -->
<!--             </a> -->
<!--           ) -->
<!--         })} -->
<!--       </div> -->
<!--     </div> -->
<!---->
<!--   </div> -->
<!-- </nav> -->
